html{
    min-height: 100% 
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 75vh;
    height: 75vh;
    display: flex;
    border: solid 2px black;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

[class*="etch"] {
    margin: 0;
    border: 0;
    padding: 0;
}

.etched {
    background-color: black;
}

#gridSize {
    margin-left: 20px;
}